html {
  background: linear-gradient(black, rgb(24, 24, 38));
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
}
body {
  color: bisque;
}
h1 {
  border-bottom: 1px solid beige;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-right: 5%;
  h1 {
    border: none;
  }
  a {
    vertical-align: bottom;
    text-decoration: none;
    color: gray;
    font-weight: bold;
  }
  a:visited {
    color: gray;
    text-decoration: none;
  }
  h1 {
    font-size: 2em;
  }
}
.homeNavLink {
  text-decoration: none;
  color: inherit;
  font-size: xx-large;
}
.homeNavLink:visited {
  color: inherit;
}
@media (max-height: 1000px) {
  .homeNavLink {
    font-size: large;
  }
}
#homepageCategoryHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  border: 1px solid white;
  max-width: 750px;
}
.homepageCategoryLink {
  font-size: xx-large;
  color: black;
  text-decoration: none;

  background-color: bisque;
  border-radius: 20px;

  width: fit-content;
  margin: 15px;
  padding: 20px;
  display: block;
}
#selectacategory {
  text-align: center;
  border-bottom: none;
}
.homepageCategoryLink:hover {
  filter: brightness(0.75);
}
.cardHolder {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  color: black;
  border: 2px black;
  border-radius: 1em;
  padding: 1em;
  max-height: 600px;
  aspect-ratio: 5 / 9;
}
@media (max-height: 715px) {
  .card {
    max-height: 315px;
    font-size: x-small;
  }
}
.answer {
  margin-top: 3em;
  filter: blur(10px);
}
#clickHint {
  color: grey;
  text-align: center;
  margin-top: auto;
}
.category {
  color: rgba(90, 90, 90, 0.438);
}
#buttonHolder {
  margin-top: auto;
  display: none; /* will be set to flex in js */
}
#nextButton {
  margin-top: auto;
  margin-left: auto;
  background: none;
  border: none;
  width: 25%;
}
#reportButton {
  background: none;
  border: none;
  width: 25%;
}
button:hover {
  filter: brightness(0.75);
  border: 1px solid cyan;
}
button {
  label {
    font-weight: bold;
  }
}
#reportDialogue {
  display: none;
  width: 100%;
  justify-content: space-between;
}
#reportDialogueButtonHolder {
  width: 40%;
  height: 100%;
  display: flex;
}
#reportReason {
  width: 50%;
  height: 90%;
  resize: none;
  background-color: rgb(196, 196, 196);
  outline: none;
  border: 1px solid black;
}
.reportButton {
  width: 40%;
  height: 100%;
  border: none;
  background: none;
  padding-top: 5%;
  border-radius: 10px;
}

.serverMessage {
  font-size: smaller;
  color: yellow;
}
.hint {
  font-size: small;
  color: salmon;
  margin-bottom: 0;
  margin-left: 15px;
}
form {
  margin-top: 5%;
  button {
    background-color: blanchedalmond;
    border-style: none;
    border-radius: 5px;
    font-size: larger;
    margin-top: 10px;
    padding: 0.5em 0.4em 0.5em 0.4em;
  }
  button:hover {
    filter: brightness(0.75);
    border: none;
  }
  label {
    font-size: x-large;
    margin: auto;
    vertical-align: bottom;
    min-height: 100%;
  }
  input {
    margin-left: 15px;
    outline: none;
    border-radius: 5px;
  }
  table {
    margin-bottom: 5%;
    border-bottom: 1px solid beige;
    padding-bottom: 10%;
  }
  a {
    font-size: small;
    color: gray;
  }
  a:visited {
    color: white;
  }
  p {
    color: white;
  }
}
