html {
  background: linear-gradient(black, rgb(31, 31, 53));
  background-repeat: no-repeat;
  height: auto;
  min-height: 100%;
}
body {
  color: bisque;
}
.homeNavLink {
  text-decoration: none;
  color: inherit;
  font-size: xx-large;
}
#homepageCategoryHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}
.homepageCategoryLink {
  font-size: xx-large;
  color: black;
  text-decoration: none;

  background-color: bisque;
  border-radius: 20px;

  width: fit-content;
  margin: 15px;
  padding: 20px;
  display: block;
}
.cardHolder {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  color: black;
  border: 2px black;
  border-radius: 1em;
  padding: 1em;
  max-height: 600px;
  aspect-ratio: 5 / 9;
}
@media (max-height: 715px) {
  .card {
    max-height: 315px;
    font-size: x-small;
  }
}
.answer {
  margin-top: 3em;
  filter: blur(10px);
}
.category {
  color: rgba(90, 90, 90, 0.438);
}
#nextButton {
  margin-top:auto;
  margin-left: auto;
  background: none;
  border: none;
  width: 25%;
}
#nextButton:hover {
  filter:brightness(0.75)
}